<form action="/posts/{{{post.id}}}/reply" method="POST">
  <textarea class="form-control" placeholder="reply..." name="content" id="content" cols="30" rows="10"></textarea>
  <button type="submit" class="btn btn-success">Reply</button>
</form>
<h1>Post id: {{{post.id}}} Reply</h1>
<p>clap times: {{{post.clapTimes}}}</p>
<p>reply times: {{{replies.length}}}</p>
<hr>
{{#each replies}}
  <h3>name: {{{this.User.name}}} reply id: {{{this.id}}}</h3>
  {{#ifEqual ../currentUser.id ../post.postUserId}}
    <form action="/posts/{{{../post.id}}}/replies/{{{this.id}}}?_method=DELETE" method="POST">
      <button type="submit" class="btn btn-danger">DELETE IT</button>
    </form>
  {{/ifEqual}}
  <h1>{{{this.title}}}</h1>
  <h2>{{{this.content}}}</h2>
{{/each}}