<form action="/posts/{{{post.id}}}/reply" method="POST">
  <textarea class="form-control" placeholder="reply..." name="content" id="content" cols="30" rows="10"></textarea>
  <button type="submit" class="btn btn-success">Reply</button>
</form>
<h1>Post id: {{{post.id}}} Reply</h1>
<p>clap times: {{{post.clapTimes}}}</p>
<p>reply times: {{{replies.length}}}</p>
<hr>
{{#each replies}}
  <h3>name: {{{this.User.name}}}</h3>
  <h1>{{{this.title}}}</h1>
  <h2>{{{this.content}}}</h2>
{{/each}}